// dropdown
.auditsDropdown {
  background-color: transparent;
  color: #4e5358;
  font-size: 16px;
  padding: 0;
  &:hover {
    background-color: transparent !important;
    color: #516fd6 !important;
  }
  &:focus {
    background-color: transparent !important;
    color: #516fd6 !important;
  }
}

// dropdown item
.dropdownitem {
  &.active {
    background-color: #5370ce !important;
    color: ghostwhite !important;
  }
  &:focus {
    background-color: #4566d4 !important;
    color: ghostwhite !important;
  }
}
