.customTabs > a.active {
  background-color: white !important;
  border-bottom-color: transparent !important;
  // border-bottom-color: #264bc4 !important;
  // font-weight: bolder;
  color: rgb(44, 47, 51) !important;
}

.customTabs > a {
  color: rgb(44, 47, 51) !important;
  &:disabled {
    color: red !important;
  }
}

.customTabs > a.disabled {
  color: gray !important;
}
