#verticalNavStyle {
  background-color: #23272a !important;
  width: 247px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

#verticalNavLogo {
  align-self: center;
  font-family: Saira Stencil One;
  color: #7289da;
  font-size: 50px;
  padding: 0;
  text-decoration: none;
}

#navbarStyle {
  background-color: #23272a !important;
}

#navbarLogo {
  font-family: Saira Stencil One;
  color: #7289da;
  font-size: 40px;
  padding: 0;
  text-decoration: none;
}

.navLinkStyle {
  color: #99aab5 !important;
  &:hover {
    color: gainsboro !important;
  }
  &.active {
    color: #f4dc64 !important;
  }
}
