.itemsStyle {
  &.page-item {
    a {
      color: gray;
      outline: none;
      box-shadow: none !important;
    }
    &.active {
      .page-link {
        background-color: #385bce;
        border-color: #385bce;
      }
    }
  }
}
